<div class="dialog-container" fxlayout="column" fxlayoutalign="start center">
  <div class="header" fxLayoutAlign="end center">
    <button mat-icon-button (click)="close()">
      <mat-icon role="img" aria-hidden="true">close</mat-icon>
    </button>
  </div>
  <div fxflex="70" fxlayout="row" fxlayoutalign="center center">
    <img src="../../assets/iclinic HF3.png" />
  </div>
  <div fxflex="30">
    <div>
      <h2>iClinic Heart Failure Version 3</h2>
    </div>
    <div>
      Heart Failure 3 is Electronic Medical Record system specifically for
      patient who has heart related diseases. HF was already made with
      adobe flash frontend and 4D backend. Whole team was focus on refactoring
      the app using Angular frontend and Java backend. My role in this project
      was making Angular components, features and services that can communicate
      with backend API calls
    </div>
  </div>
</div>
