<div class="dialog-container" fxlayout="column" fxlayoutalign="start center">
  <div class="header" fxLayoutAlign="end center">
    <button mat-icon-button (click)="close()">
      <mat-icon role="img" aria-hidden="true">close</mat-icon>
    </button>
  </div>
  <div fxflex="70" fxlayout="row" fxlayoutalign="center center">
    <img src="../../assets/iclinic md3.PNG" />
  </div>
  <div fxflex="30">
    <div>
      <h2>iClinic MD 3</h2>
    </div>
    <div>
      MD 3 is Electronic Medical Record system. MD was already made with
      adobe flash frontend and 4D backend. Whole team was focus on refactoring
      the app using Angular frontend and Java backend. My role in this project
      was making Angular components, features and services that can communicate
      with backend API calls and sometimes I was working on backend side making
      API calls using Spring framework. (controller, repository, data, dto and call methods)
    </div>
  </div>
</div>
