<div class="contact-container" fxLayout="row" fxLayoutAlign="center start">
  <div fxLayout="column" fxLayoutAlign="start space-between" fxLayoutGap="50px">
    <div class="header" fxLayout="row" fxLayoutAlign="center center">
      Get in Touch
    </div>
    <div>
      <h3>Please include as much relevant information as possible. I look forward to hearing from you.</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="28px">
      <button mat-button matTooltip="Email" matTooltipPosition="above" class="buttons" onclick="location.href='mailto:seaneum88@gmail.com.com';">
        <img class="icons" src="../../assets/email icon.png" />
      </button>
      <button mat-button matTooltip="Gichub" matTooltipPosition="above" class="buttons" onclick="window.open('https://https://github.com/seaneum88')">
        <img class="icons" src="../../assets/GitHub-Mark.png" />
      </button>
      <button mat-button matTooltip="Resume" matTooltipPosition="above" class="buttons" onclick="window.open('https://drive.google.com/file/d/1lYqTlat9huajRULnZOGWontXnOhYNEio/view?usp=sharing')">
        <img class="icons" src="../../assets/file icon.png" />
      </button>
    </div>
  </div>
</div>