.contact-container {
    margin: 24px 24px 60px 24px;
  }

.header {
    font-size: 48px;
    font-weight: bold;
  }

.buttons {
  height: 200px;
  width: 200px;
}

.icons {
  height: 160px
}

.comment-margin {
  margin-bottom: 48px;
}

.comment-title {
  font-size: 20px;
  font-weight: 500;
}

.comment-title-margin {
  margin-bottom: 10px;
}

.comment-content {
  margin-left: 6px;
  font-size: 16px;
  max-width: 653px;
}