<div class="dialog-container" fxlayout="column" fxlayoutalign="start center">
  <div class="header" fxLayoutAlign="end center">
    <button mat-icon-button (click)="close()">
      <mat-icon role="img" aria-hidden="true">close</mat-icon>
    </button>
  </div>
  <div fxflex="70" fxlayout="row" fxlayoutalign="center center">
    <img src="../../assets/FallingUnicorn.png" />
  </div>
  <div fxflex="30">
    <div>
      <h2>Dodging Falling Unicorns</h2>
    </div>
    <div>
      <p>Dodge all falling unicorns to win the game.</p>
      <p>The game will be over if unicorn collide with the character.</p>
      <p>User need to survive until time's up in order to win.</p>
      <p>Made with Pythond using PyGame library.</p>
      <button mat-button class="buttons" onclick="window.open('https://github.com/seaneum88/dodgeFallingThing')">
        Github
      </button>
    </div>
  </div>
</div>
