<div class="dialog-container" fxlayout="column" fxlayoutalign="start center">
  <div class="header" fxLayoutAlign="end center">
    <button mat-icon-button (click)="close()">
        <mat-icon role="img" aria-hidden="true">close</mat-icon>
    </button>
  </div>
  <div fxflex="70" fxlayout="row" fxlayoutalign="center center">
    <img src="../../assets/Splitting Game.png" />
  </div>
  <div fxflex="30">
    <div>
      <h2>Splitting Balls Game</h2>
    </div>
    <div>
      <p>Pop all balls in order to win the game, when you hit the ball with weapon,
      it splits into two smaller ones.</p>
      <p>Users have to keep splitting them until they disappear.</p>
      <p>Made with Pythond using PyGame library.</p>
      <button mat-button class="buttons" onclick="window.open('https://github.com/seaneum88/splittingBall')">
        Github
      </button>
    </div>
  </div>
</div>
