:host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    flex: 1 auto;
  }

  .toolbar {
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #aed6ff;
    font-weight: 600;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 16px;
    flex-direction: row;
  }

  .side-content {
    margin-top: 24px;
  }

  .side-button {
    width: 100px;
    height: 40px;
    background-color: #aed6ff;
    margin-bottom: 20px;
    border-radius: 5px;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  .footer {
    position: fixed;
    bottom: 10px;
    left: 0px;
    z-index: 1;
    width: 100%;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }
  }