<div class="container">
  <!-- Toolbar -->
  <div class="toolbar">
    <div class="indent"></div>
    <div>Welcome to Shawn's Portfolio Web Site</div>
  </div>
  
  <div class="content">
    <!-- Side Bar -->
    <div class="side-content" fxFlex="8" fxLayout="column" fxLayoutAlign="start center">
      <button mat-button routerLink="/home" class="side-button">Home</button>
      <button mat-button routerLink="/about" class="side-button">About</button>
      <button mat-button routerLink="/contact" class="side-button">Contact</button>
    </div>

    <!-- Body -->
    <div fxFlex>
      <router-outlet></router-outlet>
    </div>

    <!-- Footer -->
    <div class="footer">
      <div fxLayout="row" fxLayoutAlign="center center">
        <button mat-icon-button matTooltip="Email" matTooltipPosition="above" matTooltipClass="button-tooltip" onclick="location.href='mailto:seaneum88@gmail.com.com';">
          <mat-icon>email</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Facebook" matTooltipPosition="above" matTooltipClass="button-tooltip" onclick="window.open('https://www.facebook.com/sangkyu.eum')">
          <mat-icon>facebook</mat-icon>
        </button>
        <button mat-icon-button matTooltip="LinkedIn" matTooltipPosition="above" matTooltipClass="button-tooltip" onclick="window.open('https://www.linkedin.com/in/sangkyu-eum-797342135/')">
          <mat-icon>person</mat-icon>
        </button>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        Copyright © 2020 Shawn Eum
      </div>
    </div>
  </div>
</div>
