/* You can add global styles to this file, and also import other style files */
a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.indent {
  flex: 0.01;
}

.spacer {
  flex: 1;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.dialog-container {
  max-width: 760px;

  .header {
    margin-bottom: 20px;
  }
}