<div class="home-container" fxLayout="row" fxLayoutAlign="center start">
  <div fxLayout="column" fxLayoutAlign="start space-between" fxLayoutGap="50px">
    <div fxLayout="row" fxLayoutAlign="center start">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title>Shawn Eum</mat-card-title>
          <mat-card-subtitle>Full-Stack Developer</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="../../assets/Shawn big picture.jpg"
        />
        <mat-card-content>
          <p>
            Hi, I'm Shawn, a Full-Stack Developer with 3 years of working
            experience.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-divider></mat-divider>
    <div class="second-header" fxLayout="row" fxLayoutAlign="center center">
      Feature Works
    </div>
    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="28px">
      <mat-card fxFlex="50">
        <mat-card-header>
          <mat-card-title class="card-header" routerLink="/about">Heart Failure 3 - iClnic</mat-card-title>
          <mat-card-subtitle>Company Project</mat-card-subtitle>
        </mat-card-header>
        <img
          routerLink="/about"
          mat-card-image
          src="../../assets/iclinic HF3.png"
        />
      </mat-card>
      <mat-card fxFlex="50">
        <mat-card-header>
          <mat-card-title class="card-header" routerLink="/about">MD3 - iClinic</mat-card-title>
          <mat-card-subtitle>Company Project</mat-card-subtitle>
        </mat-card-header>
        <img
          routerLink="/about"
          mat-card-image
          src="../../assets/iclinic md3.PNG"
        />
      </mat-card>
    </div>
    <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="28px">
      <mat-card fxFlex="50">
        <mat-card-header>
          <mat-card-title class="card-header" routerLink="/about">Splitting Game</mat-card-title>
          <mat-card-subtitle>Personal Project</mat-card-subtitle>
        </mat-card-header>
        <img
          routerLink="/about"
          mat-card-image
          src="../../assets/Splitting Game.png"
        />
      </mat-card>
      <mat-card fxFlex="50">
        <mat-card-header>
          <mat-card-title class="card-header" routerLink="/about">Dodging Falling Unicorn</mat-card-title>
          <mat-card-subtitle>Personal Project</mat-card-subtitle>
        </mat-card-header>
        <img
          routerLink="/about"
          mat-card-image
          src="../../assets/FallingUnicorn.png"
        />
      </mat-card>
    </div>
  </div>
</div>
