  .home-container {
    margin: 24px;
  }

  p {
    font-size: 20px;
  }

  .header-image {
    background-image: url('../../assets/Shawn\ icon\ picture.jpg');
    background-size: cover;
  }

  .second-header {
    font-size: 48px;
    font-weight: bold;
  }

  .card-header {
    cursor: pointer;
  }